<div class="row">
  <div class="col-md-6">
    <button (click)="loginGithub()" class="btn btn-secondary mr-1">
      <i class="fa fa-github" aria-hidden="true"></i> github
    </button>
    <button (click)="loginGoogle()" class="btn btn-secondary mr-1">
      <i class="fa fa-google" aria-hidden="true"></i>google
    </button>
  </div>
  <div class="col-md-6">
    <ui-form [form]="form" [submitButton]="false" [fields]="fields" [model]="model"> </ui-form>
    <button [disabled]="!form.valid" type="button" (click)="login()" class="btn btn-primary mr-1">
      login
    </button>
    <a routerLink="/register" class="btn btn-secondary mr-1">register</a>
  </div>
</div>
